
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #ffffff;
}

h2 {
    font-family: 'Roboto Slab', serif;
    color: #ab3c3c;
    text-align: left;
    font-size: 40px;
    margin: 20px 0;
}

h1 {
    font-family: 'Roboto Slab', serif;
    color: #ab3c3c;
    text-align: left;
    font-size: 50px;
    margin: 20px 0;
}


a {
    color: #ab3c3c;
    text-decoration: none;
}

.hero-section {
    background-color: #314b57;
    padding: 0px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.hdiv{
    display: flex;
    flex-direction: row;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.item1{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: left;
    flex-wrap: wrap;
    
    
}

.tdiv{
    color:#ffffff;
    font-size: 21px;
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    
}

.item2{
    width: 35%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

}
.mapi{
    max-width: 400px;
    max-height: 250px;
    display:block;

}

.service-links {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: self-start;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-bottom: 10px;
  
}

.service-links a {
    text-align: center;
    color: white;
    align-self: left;
}

.service-links img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.service-links p {
    font-family: 'Roboto Slab', serif;

}


.service-area {
    max-width: 1200px;
    margin: 20px auto;
    margin-bottom: 40px;
}

.service-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

.city-image {
    max-width: 30%;
    height: auto;
}

/* .map-image {
    max-width: 40%;
    height: auto;
} */

.service-description {
    flex-basis: 100%;
    max-width: 67%;
    text-align: left;
    margin-top: 20px;
}

.service-description p {
    font-size: 17.5px;
    margin-bottom: 20px;
    line-height: 1.4;
    margin-top: -20px;
}

.furtoppad {
   padding-top: 20px;
}
.airtoppad{
    padding-top: 5px;
}

.mid-sec{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.mid-div{
    display:flex;
    width: 1200px;
}


.articles {
    background-color: #ffffff;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.article-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;
}

.article-grid a {
    flex: 1;
    min-width: 280px;
    text-align: center;
    color: #333;
}

.article-grid img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.article-grid p {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
}

/* .article-grid span {
    color: #ab3c3c;
    font-weight: bold;
} */

.readmore p{
    color: #ab3c3c;
    text-decoration-color: #ab3c3c;
    text-decoration: underline;
    margin-top: 15px;
}

.helpfulwidth {
    width:31.3%;
}

.helpfulwidth p{
    /* display: -webkit-box;
    width: 100%;
    height: 70px;
    max-height:70px; 
    white-space: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block; */

    font-size: 16.8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
    line-height: 25px;
    max-height: 100px;


}


@media (max-width: 768px) {
    .service-content {
        flex-direction: column;
        align-items: center;
    }

    .city-image, .map-image {
        max-width: 100%;
    }

    .article-grid {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1100px) {

    .hdiv{
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        justify-content:center;
        
    }

    .item1{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: left;
        flex-wrap: wrap;
        
        
    }
    
    .tdiv{
        color:#ffffff;
        font-size: 20px;
        margin-bottom: 20px;
        
    }
    
    .item2{
        width:100%; 
        padding-top: 20px;
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
    
    }
    .mapi{
        max-width: 400px;
        max-height: 240px;
        align-self: flex-end;
        justify-content:flex-end;
        flex-wrap: wrap;
    }
    
    .service-links {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: self-start;
        width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
      
    }
    
    .service-links a {
        text-align: center;
        color: white;
        align-self: left;
    }
    
    .service-links img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
   
}

@media screen and (max-width:700px)  {
    .helpfulwidth {
        width: 90%;
    }
    
}

